body{
    background-color: darkcyan;
}
h1{
    color:darkcyan;
    text-align: center;
}
form{
    background-color: cornflowerblue;
   width:500px ;
   height: 300px;
   align-items: center;
   margin-top: 150px;
   border: 5px solid black;
   border-radius: 10px;

}
input{
    margin-left: 90px;
    height: 30px;
    width:300px ;
    margin-top: 15px;
    margin-bottom: 5px;
    align-items: center;
}
button, a{
    margin-left: 90px;
    background-color: cadetblue;
}